/* -------------------------- RESET  -------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}


* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}
/* -------------------------- /RESET  -------------------------- */

.elements-list{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 50px;
}

.element-item{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #395e9d;
    width: 250px;
    height: 50px;
    border-radius: 8px;

    transition: color 200ms linear, transform 200ms linear;
}

.element-item:hover{
    transform: scale(1.1);
}

.selected{
    color: rgb(172, 220, 67);
}

.delete-btn{
    font-size: 25px;
    width: 100px;
    height: 50px;

    border: none;

    color: antiquewhite;
    background-color: #cd6767;
    border-radius: 8px;
    transition: color 200ms linear, transform 200ms linear, background-color 200ms linear;
}

.delete-btn:hover{
    color: whitesmoke;
    background-color: rgb(12, 10, 8);
    transform: scale(1.1);
}

.add-btn{
    margin-right: 100px;
    font-size: 20px;
    width: 150px;
    height: 50px;

    border: none;

    color: antiquewhite;
    background-color: #468cc6;
    border-radius: 8px;
    transition: color 200ms linear, transform 200ms linear, background-color 200ms linear;
}

.add-btn:hover{
    color: whitesmoke;
    background-color: rgb(4, 7, 53);
    transform: scale(1.1);
}

.input-number{
    width: 150px;
    height: 50px;
}